@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
body {
    background-color: rgb(40, 43, 44);
    font-family: 'Fira Sans', sans-serif;
    display: block;
    margin: 8px;
  }
  #mainTxt{
    width: 150px;
    margin-left: 20px;
    font-family:cursive;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(251, 252, 216);
    border-radius: 5px;
    }

  .RL{
    /*To finish after*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
  }
  .RL a{
    display: block;
    color: white;
    /* text-align: center; */
    padding: 10px 10px;
    text-decoration: none;
  }
    .RL .M:hover:not(.RL .R){
     background-color: rgb(253, 208, 7);
  }
  .RL .R{
    background-color: rgb(253, 208, 7);
  }
  #lr{
    float:right;
    margin-top: -75px;
    max-height: 38px;
    }
    #RegBorder{
        text-align: center;
        border-style:solid;
        border-radius: 8px;
        border-color: white;
        background-color: rgb(251, 252, 236);
        margin: auto;
        margin-top: 100px;
        max-width: 460px;
    }
    .MT{
        text-align: center;
        font-size: 35px;
        margin-top: 40px;
        /* text-shadow: 1px 1px red; */
    }
    .Register{
      /* margin-right: 50%; */
      font-size: 20px;
    }
   #tb1{
       text-align: center;
   }
.S{
    font-size: 20px;
    color: black;
    background-color: rgb(251, 252, 236);
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.S:hover{
    transform: translateY(-2px);
    transition-delay: 50ms;
}


.S:active {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(2px);
    transition-delay: 50ms;
}



.CheckBox{
    font-size: 20px;
}
#RegisterAs{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.container{
    line-height: 1.5;
    max-width: 1170px;
    box-sizing: border-box;
    margin:auto;
}
.row{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
ul{
    box-sizing: border-box;
    list-style: none;
    margin:0;
    padding:0;
}
.footer{
    box-sizing: border-box;
    background-color: #100e0e;
    padding: 70px 0;
    margin-top: 100px;
}
.footer-col{
    width: 25%;
    box-sizing: border-box;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: yellow;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    box-sizing: border-box;
    margin-bottom: 10px;
}
.footer-col ul li a{
    box-sizing: border-box;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    box-sizing: border-box;
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    padding-block: 10px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    box-sizing: border-box;
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        box-sizing: border-box;
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        box-sizing: border-box;
        width: 100%;
    }
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)
}

.fa {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.fa input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 2px 12px 0 12px;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}
.fa:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}


.la {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.la input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 2px 12px 0 12px;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}
.la:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.ea {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.ea input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 2px 12px 0 12px;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}
.ea:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}


.pa {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.pa input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 2px 12px 0 12px;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}
.pa:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}


.rpa {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}
.rpa input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 2px 12px 0 12px;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}
.rpa:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}