body {
    background-color: rgb(251, 252, 216);
    /*background-image: url("https://studentspace.org.uk/assets/images/student-space_illustrations_studying.png");*/
}
#mainTxt{
    width: 150px;
    margin-left: 20px;
    font-family:cursive;
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
.MT{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: cursive
}
#RegBorder{
    color: rgb(251, 252, 216);
    text-align: center;
}
.textB{
    height:300px;
    width:700px;
}
.mainTextDiv{

}

.mainTextDiv {
    width: 1100px;
    margin: auto;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
.mainTextDiv:hover {
    border-radius: 0% 0% 5% 5% / 0% 0% 2% 2% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}
#mainText{
    font-size: 15px;
    margin-left: 50px;
    color: #100e0e;
    width: 1000px;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */


}
#editButton{
    width: 150px;
    float: right;
    margin-right: 20px;
    margin-top: -71px;
    font-family:cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
#contentTest{
    width: 150px;
    float: none;
    margin-right: 20px;
    margin-top: 0px;
    font-family:cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
#addButton{
    margin-left: auto;
    position: relative;
    background-color: #333333;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#addButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#addButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


#questionButton{
    background-color: #333333;
    margin-left: auto;
    position: relative;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 1000px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#addButton2{
    margin-left: auto;
    position: relative;
    background-color: #333333;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#addButton2:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#addButton2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
#contentTest2{
    width: 150px;
    float: none;
    margin-right: 20px;
    margin-top: 0px;
    font-family:cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#addButton1{
    width: 150px;
    float: none;
    margin-right: 20px;
    margin-top: 0px;
    font-family:cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)
}





.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    /*display: none;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*right: 15px;*/
    /*border: 3px solid #f1f1f1;*/
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    margin: auto;
    margin-top: 300px;
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #04AA6D;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.deleteContent{
    position: relative;
    bottom: 50px;
    width: 150px;
    font-family:cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: darkred;
    border-radius: 5px;
    margin-right: 10px;

    float: right;

    justify-content: center;
    align-items: center;
}
.mainDiv{
    margin-left: 75px;

}
.main-menu{
    z-index: 10;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-color: #5a5a50;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px black;
    list-style-type: none;
    width: 70px;
    height: 100vh;

    position: fixed;
    top:0;
    left:0;

    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    transition: .3s ease;
}

.main-menu:hover{
    width : 250px;
    overflow: hidden;
}

.main-menu .menu-item{
    padding: 10px;
    background-color: #5a5a50
}
.main-menu .menu-item:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.main-menu .menu-item .fa{
    color: gray;
    width:40px;
    font-size: 25px;
    padding: 10px;
}

.main-menu .menu-item:hover > .fa{
    color: black;
}

section.home{
    background-color: #333333;
    margin-left: -35px;
}
ul{
    list-style-type: none;
    margin-left: -5px;
}
.tTitle {
    resize: none;
    width: 500px;
    height: 60px;
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    transition: all 0.1s;
}
.tTitle:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.tTitle:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}
.textB {
    max-width: 1000px;
    min-width: 1000px;
    min-height: 550px;
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 1000px;
    height: 100px;
    transition: all 0.1s;
}
.textB:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.textB:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}

.add {
    color: white;
    font-family: fangsong;
    width: 137px;
    height: 30px;
    background: #5a5a50;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}
.add:hover {
    color: black;
    cursor: pointer;
    background: #FFFFFF;
}


/* This is a comment! */


/* This is a comment! */