body {
    background-color: rgb(40, 43, 44);
    font-family: 'Fira Sans', sans-serif;
    display: block;
    margin: 8px;
}

#mainTxt{
    width: 150px;
    margin-left: 20px;
    font-family:cursive;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(251, 252, 216);
    border-radius: 5px;
}

.RL{
    /*To finish after*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
}
.RL a{
    display: block;
    color: white;
    /* text-align: center; */
    padding: 10px 10px;
    text-decoration: none;
}
.RL .M:hover:not(.RL .L){
    background-color: rgb(253, 208, 7);
}
.RL .L{
    background-color: rgb(253, 208, 7);
}
#lr{
    float:right;
    margin-top: -75px;
    max-height: 38px;
    color: #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
}
#RegBorder{
    text-align: center;
    border-style:solid;
    border-radius: 8px;
    border-color: white;
    background-color: rgb(251, 252, 236);
    margin: auto;
    margin-top: 100px;
    max-width: 550px;
    padding-bottom: 20px;
}
.MT{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    margin-top: 40px;
    /* text-shadow: 1px 1px red; */
}
.Register{
    /* margin-right: 50%; */
    font-size: 20px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)
}
/* This is a comment! */